<nav class="header navbar u-full-width">
  <div class="container">
    <ul class="navbar-list">
      <li class="navbar-item">
        <a class="navbar-link" href="#introduction">Home</a>
      </li>
      <li class="navbar-item">
        <a class="navbar-link" href="#about">About</a>
      </li>
      <li class="navbar-item">
        <a class="navbar-link" href="#work">Work</a>
      </li>
      <li class="navbar-item">
        <a class="navbar-link" href="#contact">Contact</a>
      </li>
    </ul>
  </div>
</nav>

<!-- <header class="site-header u-full-width">

    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>

    <nav class="site-nav">
      <ul>
        <li>Home</li>
        <li>About</li>
        <li>Work</li>
        <li>Contact</li>
      </ul>

      <div class="trigger">
        {% for page in site.pages %}
          {% if page.title %}
          <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
          {% endif %}
        {% endfor %}
      </div>
    </nav>

</header>
 -->